* {
  margin: 0;
  padding: 0;
}

:root {
  line-height: 150%;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #F5F4F0;
}

.page {
  margin: 88px 80px 137px;
}

.headline {
  color: #E1624F;
  font-size: 16px;
  margin-bottom: 8px;
}

h1 {
  color: #1B1B1B;
  font-size: 36px;
  font-weight: bold;
}

img {
  width: 100%;
  margin-top: 44px;
}

h6 {
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight:100;
  font-style: italic;
  color: #333333;
  margin: 24px 20px 0;
}

hr {
  margin: 40px 0;
}

h2 {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 4px;
}

p {
  color: #1B1B1B;
  font-size: 16px;
  font-style: normal;
  margin: 4px 0 0;
}

h3 {
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}

ul {
  padding-left: 24px;
}

ul .blue {
  color: #0C51A7;
  font-weight: bold;
}

ul .orange {
  color: #E95E10;
  font-weight: bold;
}

ul .pink {
  color: #E5245E;
  font-weight: bold;
}

ul .purple {
  color: #591B98;
  font-weight: bold;
}

.foot {
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #333333;
}

footer {
  font-size: 16px;
  font-family: "Alice", serif;
  text-align: center;
}

footer img {
  padding: 0 2px;
  width: 16px;
}